h1= title
p Welcome to you, #{username}

ul
  li
    h2 Functionalities
  li
    a(href="/register") Register
  li
    a(href="/lost") Password lost
  li
    a(href="/transmission") Transmission
  li
    | Wall
  li
    | Wall-e
  li
    | bin & options

  li
    h2 Admin & debug
  li
    a(href="/users") Users managment
  li
    a(href="/mysql") Reload MySQL model
  li
    a(href="/init") Init torrent table with transmission's torrents
    
code=session