div#infoMessage= info
form(method="post", action="/lost")
    label
        input(placeholder="my email address", type="text", name="email", value= form.email)
    input(type='submit', value='Reset password')

button Contact admin
