div= form.error
form(method="post")
    label
        input(placeholder="username", type="text", name="username", value= form.username)
    label
        input(placeholder="email address", type="text", name="email", value= form.email)
    label
        input(placeholder="password", type="password", name="pass")
    label
        input(placeholder="password  varification", type="password", name="verif")
    
    button Register