html
    body
        p Hello, #{name}!
            br
            | Your account has just been activated by an administrator.
            | You are free to access BuZz with your username and password.
            br
            | Happy sharing!
            br
            | -- 
            br
            | The BuZzBot
