html
    body
        p Hello, admins!
            br
            | A new user has just registered to BuZz, and you're supposed to activate
            | his account. Here's the info he provided:
            ul
                li Username: #{name}
                li E-mail: #{email}
            | You can click 
            a(href= url + "/activate/" + id) here
            |  to activate his account immediately, or see the
            a(href= url + "/users") user listing
            |  if you need to check something beforehand.
            br
            | Thanks!
            br
            | -- 
            br
            | The BuZzBot
