html
    body
        p Hello, #{user.username}!
            br
            | You asked us to reset your password, and we did! 
            | Your new password is now: 
            span #{password}
            br
            | Be cautious to respect uppercase/lowercase letters.
            br
            | Happy sharing!
            br
            | -- 
            br
            | The BuZzBot
